*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        }
        :root{
            /* VARIABLES */

            --VeryLightPink: #c7c7c7;
            --TextInputFiel: #f7f7f7;
            --HospitalGreen: #ACD9B2;
            --White: #ffffff;
            --Black: #000000;

            --sm: 14px;
            --md: 16px;
            --lg: 18px;
        }
        body{
            font-family: 'Quicksand', sans-serif;
        }

        .inactive{
            display: none;
        }

        /* NAVBAR MAIN */
        nav{
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 0 24px;
            border-bottom: 1px solid var(--VeryLightPink);
        }
        .menu{
            display: none;
        }
        .logo{
            width: 150px;
        }
        .navbar-left ul,
        .navbar-right ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            height: 60px;
        }
        .navbar-left ul li a,
        .navbar-right ul li a{
            text-decoration: none;
            color: var(--VeryLightPink);
            border: 1px solid var(--White);
            padding: 8px;
            border-radius: 8px;
        }
        .navbar-left ul li a:hover,
        .navbar-right ul li a:hover{
            border: 1px solid var(--HospitalGreen);
            columns: var(--HospitalGreen);
            border-radius: 8px;
        }
        .navbar-left{
            display: flex;
        }
        .navbar-left ul{
            margin-left: 12px;
        }
        .navbar-email{
            color: var(--VeryLightPink);
            font-size: var(--sm);
            margin-right: 8px;
            cursor: pointer;
        }
        .navbar-email:hover{
            padding: 5px;
            border: 1px solid var(--HospitalGreen);
            columns: var(--HospitalGreen);
            border-radius: 8px;
        }
        
        .navbar-shopping-cart{
            position: relative;
        }
        .navbar-shopping-cart div{
            width: 17px;
            height: 17px;
            background-color: var(--HospitalGreen);
            border-radius: 50%;
            font-size: var(--sm);
            font-weight: bold;
            position: absolute;
            top: -6px;
            right: 4px;
            text-align: center;
        }

/* DESKTOP MENU */
        
.desktop-menu{
    position: absolute;
    background: var(--White);
    top: 60px;
    right: 80px;



    width: 100px;
    height: auto;
    border: 1px solid var(--VeryLightPink);
    border-radius: 6px;
    list-style-type: none;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul{
    list-style-type: none;
}
.desktop-menu ul li{
    font-weight: bold;
    text-align: end;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--VeryLightPink);
}
.desktop-menu ul li:last-child a{
    color: var(--HospitalGreen);
    font-size: var(--sm);
}
.desktop-menu ul li a{
    color: var(--Black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}


/* MEDIA QUERY */

        @media(max-width: 640px){
            .menu{
                display: block;
            }
            .navbar-left ul{
                display: none;
            }
            .navbar-email{
                display: none;
            }
        }
